.reveal pre {
  width: 100%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 50vh !important;
  opacity: 0.95;
  border-radius: 10px;
}

.reveal section img {
  border: 0px;
  box-shadow: none;
}

.reveal .slide-background {
  background-color: #2bce88;
}